{% extends "base.html" %} 
{% block title %}Archive - {{ site.blog.title }}{% endblock %} 
{% block meta %}
<meta name="description" content="Archive of all posts from {{ site.blog.title }}" />
{% endblock %} 
{% block content %}
<div class="markdown-preview-sizer markdown-preview-section">
    <div
        class="inline-title"
        contenteditable="false"
        spellcheck="false"
        tabindex="-1"
        enterkeyhint="done"
    >
        Archive
    </div>

    <div class="callout" data-callout="note">
        <div class="callout-title">
            <div class="callout-icon">
                <svg
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                >
                    <path
                        d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                    />
                    <polyline points="14,2 14,8 20,8" />
                    <line x1="16" y1="13" x2="8" y2="13" />
                    <line x1="16" y1="17" x2="8" y2="17" />
                    <polyline points="10,9 9,9 8,9" />
                </svg>
            </div>
            <div class="callout-title-inner">Complete Archive</div>
        </div>
        <div class="callout-content">
            <p>
                All posts organized chronologically. Use <kbd>Cmd+F</kbd> to
                search within this page.
            </p>
        </div>
    </div>

    <div class="nav-folder mod-root">
        <div class="nav-folder-children">
            {% for post in posts %}
            <div class="nav-file">
                <div class="nav-file-title" draggable="true">
                    <div class="nav-file-title-content">
                        <a
                            href="{{ url(path='posts/' ~ post.metadata.slug ~ '.html') }}"
                            class="internal-link"
                            data-tooltip-position="top"
                        >
                            {{ post.metadata.title }}
                        </a>
                    </div>
                </div>
                <div class="nav-file-tags">
                    <time class="tag" datetime="{{ post.metadata.date }}"
                        >{{ post.metadata.date }}</time
                    >
                    {% if post.metadata.tags %} {% for tag in post.metadata.tags
                    %}
                    <a
                        href="{{ url(path='tags/' ~ tag ~ '.html') }}"
                        class="tag"
                        >#{{ tag }}</a
                    >
                    {% endfor %} {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Navigation footer -->
    <div class="callout" data-callout="tip">
        <div class="callout-content">
            <p>
                Browse by
                <a href="{{ url(path='tags/') }}" class="internal-link"
                    >tags</a
                >
                or return to
                <a href="{{ url(path='') }}" class="internal-link">home</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
