{% extends "base.html" %} {% block title %}Archive — {{ site.blog.title }}{%
endblock %} {% block content %}
<div class="markdown-preview-sizer markdown-preview-section">
    <div
        class="inline-title"
        contenteditable="false"
        spellcheck="false"
        tabindex="-1"
        enterkeyhint="done"
    >
        Archive
    </div>

    <div class="nav-folder-children">
        {% for p in posts %}
        <div class="nav-file">
            <div class="nav-file-title">
                <div class="nav-file-title-content">
                    <a
                        href="{{ url(path='posts/' ~ p.metadata.slug ~ '.html') }}"
                        class="internal-link"
                    >
                        {{ p.metadata.title }}
                    </a>
                </div>
            </div>
            <div class="nav-file-tag">
                <time class="tag">{{ p.metadata.date }}</time>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
